@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, span{
  color: white;
}

.card .card-footer button {
  cursor: pointer;
  float: right;
  vertical-align: middle;
  height: 28px;
  width: 65px;
  text-align: center;
  padding: 6px 0;
  font-size: 13px;
}

.card img{
  box-shadow: inset 0 0 100px black;
}

.card img:hover{
  box-shadow: none;
}

.navbar{
  margin-bottom: 15px;
}

.navbar a{
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 0 15px;
  margin: auto;
}

.navbar a:hover{
  color: rgb(150, 112, 8);
}

.navbar-brand {
  color: orange;
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item img{
  
}