@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2 {
  color: black;
}
h4, span {
  color: white;
}

h3 {
  color: black;
}

.line{
  background-color: #aaaaaa;
  height: 1px;
  width: 100%;
  padding: 1px;
  margin-bottom: 15px;
}

.title{
  padding: 20px;
  color: white;
}

.centered-alignment{
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  color: orange;
  margin-right: 25px;
}

.navbar a{
  color: orange;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(145, 95, 3);
}

.navbar-collapse a{
  color: white;
  text-align: center;
  padding: 0 15px;
  margin: auto;
}

.navbar-collapse a:hover{
  color: rgb(150, 112, 8);
}

.navbar-brand {
  color: rgb(150, 112, 8);
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  color: rgb(78, 76, 74);
}

.card .card-footer button {
  cursor: pointer;
  float: right;
  height: 30px;
  width: 65px;
  text-align: center;
  padding: 6px;
  font-size: 15px;
}

.card .cardImg{
  box-shadow: inset 0 0 10px black;
  min-height: 11rem;
  max-height: 11rem;
  border-radius: 3px;
  object-fit: cover;
  opacity: 1;
}
.card .icon{
  height: 20px;
  width: 20px;
}

.card img:hover{
  box-shadow: none;
  opacity: 0.9;
}

#basic-nav-dropdown{
  color: white;
}

.navbar .genres .dropdown-menu  {
  min-width: 11rem;
}

.navbar .cart .dropdown-menu  {
  min-width: 25rem;
}

.list-articles { 
  max-height: 20rem;
  overflow-y: overlay;
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu a {
  text-align: center;
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu .line {
  margin: 5px;
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu img{
  border: 1px solid grey;
  width: 100%;
  object-fit: cover;
  border-radius: 15%;
}

.filter {
  top: 50px;
  position: sticky;
}

.filter .form-check {
  margin-left: 0.5rem;
}

.filter .form-check label {
  margin-left: 0.5rem;
}

.backgroundIMG{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  filter: blur(5px);
}

.gameCart{

  top: 50px;
  position: sticky;
}

.gameCart .cover {
  padding-top: 10px;
  width: 100%;
  border-radius: 2%;
}

.gameCart .title{
  font-size: 40px;
}

.gameCart h5{
  color: white;
  text-transform: capitalize;
}

.information h5{
  color: white;
  text-transform: capitalize;
}

.officialsite{
  margin-bottom: 25px;
}

.information .title{
  font-size: 60px;
}

.genre{
  width: 100%;
  margin: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.01);
}

.vid{
  z-index: 3;
  width: 100%;
  height: 524px;
  padding: 50px;
}

.description{
  padding: 45px;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.cart-page {
  min-height: 25rem;
}

.cart-page .line {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart-page strong, .cart-page span {
  font-size: 20px;
  color: white;
}

.cart-page h2 {
  color: white;
}

.cart-page h3 {
  color: white;
  font-size: 25px;
}

.cart-page .platform-selection .form-select {
  width: 50%;
  font-size: 0.75rem;
}

.cart-page .platform-selection span {
  font-size: 20px;
}

.cart-page img {
  border: 1px solid grey;
  width: 100%;
  object-fit: cover;
  border-radius: 15%;
}

footer {
  padding: 1rem;
  padding-bottom: 0;
}

p{
  color: white;
}

.icon{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.space{
  padding-left: 30px;
}

.placeholder{
  margin: 30px;

}

.imgPlaceholder{
  height: 45vh;
}

.coverPlaceholder{
  height: 230px;
}

.iconPlaceholder{
  height: 45px;
  width: 45px;
}
.case{
 width: 100%;
 min-height: 1000px;
}

.spin{
  padding-top: 45vh;
}